<footer class="my-2" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="weight-500" style="padding-left: 6.188rem; font-size: 0.875rem;">
        UFERSA | 24.529.265/0001-40
    </div>
    <div class="weight-500" style="padding-right: 6.188rem; font-size: 0.875rem;">
        Agendamento de Serviços Acadêmicos - ASA | v1.0.0
    </div>
</footer>