@inject NavigationManager Navigation

<header class="pt-3" style="padding-left: 6.188rem; padding-right: 6.188rem;">
    
    <a href="/"><img src="..\css\images\logo.svg" alt="Logo"></a>

    @if (Navigation.ToBaseRelativePath(Navigation.Uri) == "")
    {
        <div class="menu-inicio">
            <a href="/" @onmouseover="inicioColor" @onmouseout="inicioColor"><img src="@(inicioHover ? "..\\css\\images\\inicio.svg" : "..\\css\\images\\inicio-hover.svg")"  alt="Inicio"></a>
            <a href="/" @onmouseover="agendaColor" @onmouseout="agendaColor"><img src="@(agendaHover ? "..\\css\\images\\agenda.svg" : "..\\css\\images\\agenda-hover.svg")" alt="Agenda"></a>
            <a href="/" @onmouseover="servicoColor" @onmouseout="servicoColor"><img src="@(servicoHover ? "..\\css\\images\\servico.svg" : "..\\css\\images\\servico-hover.svg")"  alt="Serviço"></a>

            <div class="menu-divider"></div>

            <a href="/" @onmouseover="relatarColor" @onmouseout="relatarColor"><img src="@(relatarHover ? "..\\css\\images\\relatar.svg" : "..\\css\\images\\relatar-hover.svg")"  alt="Relatar"></a>
        </div>
    }
    
</header>

<style>

    header{
        width: 100%;
        display: flex;
        align-items: first baseline;
        justify-content: space-between;
    }

    .menu-inicio{
        display: flex;
        text-align: right;
    }

    .menu-inicio a{
        padding-left: 17px;
        padding-right: 17px;
    }

    .menu-divider {
    border-left: 2px solid #C3C3C3;
    margin: 0 20px;
    }

</style>

@code{
    private bool agendaHover = true;

    private void agendaColor()
    {
        agendaHover = !agendaHover;
    }
    private bool servicoHover = true;

    private void servicoColor()
    {
        servicoHover = !servicoHover;
    }
    private bool inicioHover = true;

    private void inicioColor()
    {
        inicioHover = !inicioHover;
    }
    private bool relatarHover = true;

    private void relatarColor()
    {
        relatarHover = !relatarHover;
    }
}