@page "/"

<PageTitle>Home</PageTitle>

<Header />

<div>

    <div style="display: flex; justify-content: space-between; align-items: center; padding-left: 6.188rem; padding-right: 6.188rem;">
    
        <div class="me-5">
    
            <h1 style="color:var(--blue-ufersa); font-size: 3.75rem; width: 90%;" class="weight-700">Lorem Ipsum is simply dummy text.</h1>
    
            <p style="color:var(--blue-ufersa);" class="weight-500 paragraph-size py-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
    
            <div class="d-flex gap-4">
                <a href="/cadastrar" style="width: 191px;" class=" btn-secondary weight-700 button-size border-radius-30 a-button">Cadastrar</a>
                <a href="/entrar" style="width: 191px;" class=" btn-primary weight-700 button-size border-radius-30 a-button">Entrar</a>
            </div>
    
    
        </div>
    
            <div class="image-container">
                <img src="..\css\images\pessoas-home.png" alt="Pessoas tela home">
            </div>
    
    </div>
 
    <div style="display: flex; justify-content: space-between; align-items: center; align-items: center; background-color: var(--blue-ufersa); padding-right: 6.188rem; border-radius: 20px 20px 0px 0px;">

        <img src="..\css\images\logo-clara.png" alt="Logo tela home">

        <div style="padding-left: 60px">
            <h1 style="color:var(--white); font-size: 3.75rem; width: 90%;" class="weight-700">Lorem Ipsum is simply dummy text.</h1>
            <p style="color:var(--white); margin: 0px;" class="weight-500 paragraph-size py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p style="color:var(--white); margin: 0px;" class="weight-500 paragraph-size py-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. </p>
        </div>

    </div>

</div>

<Footer />