@page "/"

<PageTitle>Home</PageTitle>

<Header />

<div>

    <div style="display: flex; justify-content: space-between; align-items: center; padding-left: 6.188rem; padding-right: 6.188rem;">
    
        <div class="me-5">
    
            <h1 style="color:var(--blue-ufersa); font-size: 3.75rem; text-align: left;" class="weight-700">Realize seu agendamento com um profissional</h1>
    
            <p style="color:var(--blue-ufersa); width: 85%;" class="weight-500 paragraph-size py-4">A plataforma ASA busca facilitar o agendamento de consultas com profissionais da Ufersa. Psicólogos, pedagogos, nutricionistas e educadores físicos estão disponíveis para ajudar você a alcançar seu bem-estar.</p>
    
            <div class="d-flex gap-4">
                <a href="/cadastrar" style="width: 191px;" class=" btn-secondary weight-700 px24 border-radius-30 a-button">Cadastrar</a>
                <a href="/entrar" style="width: 191px;" class=" btn-primary weight-700 px24 border-radius-30 a-button">Entrar</a>
            </div>
    
    
        </div>
    
            <div class="image-container">
                <img src="..\css\images\pessoas-home.png" alt="Pessoas tela home">
            </div>
    
    </div>
 
    <div style="display: flex; justify-content: space-between; align-items: center; align-items: center; background-color: var(--blue-ufersa); padding-right: 6.188rem; border-radius: 20px 20px 0px 0px;">

        <img src="..\css\images\logo-clara.png" alt="Logo tela home">

        <div style="padding-left: 60px">
            <h1 style="color:var(--white); font-size: 3.75rem; width: 90%;" class="weight-700">Bem-vindo e conheça ao sistema ASA</h1>
            <p style="color:var(--white); margin: 0px;" class="weight-500 paragraph-size py-2">A Universidade Federal Rural do Semi-Árido (Ufersa) campus Pau dos Ferros em conjunto com a Coordenadoria de Assuntos Estudantis (COAE) compartilham e promovem a gestão dos serviços voltados à assistência estudantil.</p>
            <p style="color:var(--white); margin: 0px;" class="weight-500 paragraph-size py-3">O Agendamento de Serviços Acadêmicos (ASA) centraliza os serviços em um só local, facilitando o acesso aos profissionais e tornando o processo de agendamento mais transparente e atrativo para os universitários.</p>
        </div>

    </div>

</div>

<Footer />