@page "/inicio"

<PageTitle>Início</PageTitle>

<div class="page" style="background-color: var(--blue-ufersa);">
        <NavMenu />

        <div style="padding-top: 29px; border-radius: 15px 0px 0px 15px; width: 100%; background-color: white;">
            <Header />
            <main class="page" style="padding-left: 6.188rem; padding-right: 6.188rem; padding-top: 20px; justify-content: space-between;">

                <div>

                    <div style="width: 42.5rem; height: 23.5rem; background: linear-gradient(109.09deg, #243E64 40.1%, #3E5C89 100%); border-radius: 10px; box-shadow: 0px 4px 4px 0px #00000040;">


                    </div>

                    <div style="padding-top: 30px; padding-bottom: 30px;">
                        <h1 style="padding-left: 20px;" class="px24 weight-700">Serviços</h1>
                    </div>

                    <div  style="padding-top: 30px; padding-bottom: 30px;">
                        <h1 style="padding-left: 20px;" class="px24 weight-700">Informações</h1>
                    </div>

                </div>

                <div>

                    <div>
                        <h1 style="padding-left: 20px;" class="px24 weight-700">Compromissos</h1>
                    </div>

                    <div>
                        calendário
                    </div>

                </div>

            </main>
        </div>
</div>